@using System.Web.Helpers
@using System.Web.Mvc.Ajax

@helper ImageHelper(string format, string id)
{
string s = id + ".jpg";

    <img src="~/image/@format/@s" />
}

@helper MovieListerHelper(IEnumerable<MovieDAL.Movie> movies, string header, string cssId)
{
if (movies.Any())
{
        <dt id="@cssId">
            <b>@header</b>
        </dt>


    foreach (var item in movies)
    {
        var Ajax = ((System.Web.Mvc.WebViewPage)WebPageContext.Current.Page).Ajax;

            <dd class="@cssId">
                @Ajax.ActionLink(item.Title, "Details", "Movie", new { id = item.MovieId },
                new AjaxOptions { OnBegin = "dimBackground", OnSuccess = "showPopup", UpdateTargetId = "popup", OnFailure = "resetBackground" })
                @General.ImageHelper("thumb", item.MovieId)
            </dd>


    }
}
}

@helper ExternalLink(String externalURL, String text, String target = "_blank")
{
    <a href="@externalURL" target="@target">@text</a>
}

@helper RatingHelper(String action, String controller, object routeValues = null, int startVal = -1, bool allowSubmit = true, AjaxOptions options = null)
{
var Ajax = ((System.Web.Mvc.WebViewPage)WebPageContext.Current.Page).Ajax;

if (options == null)
{
    options = new AjaxOptions { UpdateTargetId = "superbVoting", OnFailure = "", HttpMethod = "POST" };
}

using (Ajax.BeginForm(action, controller, routeValues, options, null))
{
    var Html = ((System.Web.Mvc.WebViewPage)WebPageContext.Current.Page).Html;
        @Html.AntiForgeryToken()
        <input type="number" name="rating" id="rating" class="rating" />
    if (allowSubmit)
    {
            <button id="ratingButton" type="submit" value="Submit">Vote</button>
            <span id="superbVoting"></span>
    }
}

    @*Minimalistinc js-library for creating rating stars, see https://github.com/javiertoledo/bootstrap-rating-input*@
    <script src="~/Content/bootstrap-rating-input.min.js"></script>

if (startVal > 0 && startVal < 6)
{
        <script>
            $("document").ready(function () {
                setTimeout(function () {
                    $(".rating-input").find("[data-value='" + @startVal + "']").trigger("click");
                }, 200);
            });
        </script>
}
}