@using System.Web.Helpers
@using System.Web.Mvc.Html

@helper ImageHelper(string format, string id)
{
	string s = id + ".jpg";

	<img src="~/image/@format/@s" />
}

@helper MovieListerHelper(IEnumerable<MovieDAL.Movie> movies, string header)
{

	if (movies.Any())
	{

		<dt>
			<b>@header</b>
		</dt>

		foreach (var item in movies)
		{
			var Html = ((System.Web.Mvc.WebViewPage)WebPageContext.Current.Page).Html;

			<dd>
				@Html.ActionLink(item.Title, "Details", "Movie", new { id = item.MovieId }, null)
			</dd>

			@General.ImageHelper("thumb", item.MovieId)
		}
	}
}

@helper ExternalLink(String externalURL, String text, String target = "_blank")
{
    <a href="@externalURL" target="@target">@text</a>
}
