<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
		<link href="~/Content/popup.css" rel="stylesheet" />
		<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<script src="~/Scripts/modernizr-2.6.2.js"></script>
        <script src="~/Scripts/jquery-2.1.4.min.js"></script>
</head>

	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
					@Html.ActionLink("Genres", "Genres", "Movie", new { area = "" }, new { @class = "navbar-brand" })
					@Html.ActionLink("Movies", "Index", "Movie", new { area = "" }, new { @class = "navbar-brand" })
					@Html.ActionLink("Actors", "Actors", "Person", new { area = "" }, new { @class = "navbar-brand" })
					@Html.ActionLink("Directors", "Directors", "Person", new { area = "" }, new { @class = "navbar-brand" })
					@Html.ActionLink("Producers", "Producers", "Person", new { area = "" }, new { @class = "navbar-brand" })
					@Html.ActionLink("Admin", "Index", "Movie", new { area = "Admin" }, new { @class = "navbar-brand" })
					@if (Request.IsAuthenticated)
					{
						@Html.ActionLink("Logout", "Logout", "Account", new { area = "Admin" }, new { @class = "navbar-brand" })
					}
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav"></ul>
				</div>
			</div>
		</div>
		<div id="mainContent">
			@RenderBody()
		</div>

		<footer>
			&copy; Communicate AS by Jonas, Snorre og Martin
		</footer>


		
		<script src="~/Scripts/jquery.validate.min.js"></script>
		<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
		<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
		<script src="~/Content/popup.js"></script>

	</body>
</html>
