@model MovieDAL.Person

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<div>
    <hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		@General.MovieListerHelper(Model.DirectedMovies, "Directed", "directedList")

        @General.MovieListerHelper(Model.ProducedMovies, "Produced", "producedList")

        @General.MovieListerHelper(Model.ActedMovies, "Acted In", "actedList")
</dl>

</div>


<script src="~/Scripts/Headings.js"></script>

