@model MovieDAL.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title) @General.ExternalLink($"http://www.imdb.com/find?q={Model.Title}", "Imdb.com")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RunningLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RunningLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purchased)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purchased)
        </dd>

		<dt>
			Directors:
		</dt>


		@foreach (var item in Model.Directors)
		{
			<dd>@Html.ActionLink((String)item.Name, "Details", "Person", new { id = (int)item.PersonId }, null)</dd>
		}

		<dt>
			Actors:
		</dt>

		@foreach (var item in Model.Actors)
		{
			<dd>@Html.ActionLink((String)item.Name, "Details", "Person", new { id = (int)item.PersonId }, null)</dd>
		}

		<dt>
			Producers:
		</dt>

		@foreach (var item in Model.Producers)
		{
			<dd>@Html.ActionLink((String)item.Name, "Details", "Person", new { id = (int)item.PersonId }, null)</dd>
		}

    </dl>

	@General.ImageHelper("medium", Model.MovieId)

	@using (Ajax.BeginForm("postRating", "Movie", new { movieId=Model.MovieId}, new AjaxOptions { UpdateTargetId = "superbVoting", OnFailure = "alert", HttpMethod = "POST" }, null))
	{
		@Html.DropDownList("rating", new SelectList(new List<Int32>() { 1, 2, 3, 4, 5 }))
		<button type="submit" value="Submit">Submit</button>
	}

	<div id="superbVoting"></div>
</div>


@*<script>
	function voting(rating)
	{
		for (var i = 0; i < 6; i++)
		{
			alert("<img class=\"rating\" id=\"rat" + i + "\"  src=\"~/Content/star-on.png\" />")
			if (i <= rating)
			{
				$("#superVoting").append("<img class=\"rating\" id=\"rat" + i + "\"  src=\"~/Content/star-on.png\" />");
			}
			else
			{
				$("#superVoting").append("<img class=\"rating\" id=\"rat" + i + "\" src=\"~/Content/star-off.png\" />");
			}
			
		}
	}

	$(".rating").hover(
			function ()
			{
				alert("asd")
			}
		);

</script>

<script>voting(5)</script>*@
