@model MovieDAL.Movie

@{
    ViewBag.Title = "Details";
}


<h4 class="detailsTitle">@Model.Title</h4>
<hr />

<div id="MovieDetailsSection1">
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.OriginalTitle)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.OriginalTitle)
		</dd>

		<dt>
			Imdb
		</dt>

		<dd>
			@General.ExternalLink($"http://www.imdb.com/find?q={Model.Title}", "Link")
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Description)
		</dt>

		<dd>
			<hr class="coolHr" />
			@Html.DisplayFor(model => model.Description)
			<hr class="coolHr" />
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ProductionYear)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ProductionYear)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.RunningLength)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.RunningLength)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Purchased)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Purchased)
		</dd>

		<dt>
			Rating
		</dt>
		<dd>
			@General.RatingHelper("postRating", "Movie", new { movieId = Model.MovieId }, 0)
		</dd>

		<dt>
			Directors
		</dt>

		@foreach (var item in Model.Directors)
		{
			<dd>@Html.ActionLink((String)item.Name, "Details", "Person", new { id = (int)item.PersonId }, null)</dd>
		}

		<dt>
			Producers
		</dt>

		@foreach (var item in Model.Producers)
		{
			<dd>@Html.ActionLink((String)item.Name, "Details", "Person", new { id = (int)item.PersonId }, null)</dd>
		}

		<dt>
			Actors
		</dt>

		@foreach (var item in Model.Actors)
		{
			<dd>@Html.ActionLink((String)item.Name, "Details", "Person", new { id = (int)item.PersonId }, null)</dd>
		}
	</dl>
</div>

 
<div id="MovieDetailsSection2">@General.ImageHelper("medium", Model.MovieId)</div>

   

